.minesweeper {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(245, 245, 245);
}

.wrapper {
  min-width: 500px;
  margin: auto;
}

.container-button {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.container-clicks {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.reset {
  margin: 2px;
  padding: 2px;
  width: 98px;
  background-color: red;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.diff {
  margin: 2px;
  padding: 2px;
  border-radius: 1px;
  text-align: center;
  width: 98px;
  cursor: pointer;
}

.easy {
  background-color: rgb(160, 255, 65);
}

.medium {
  background-color: rgb(255, 243, 76);
}

.hard {
  background-color: rgb(177, 0, 177);
}

.container {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  min-height: 500px;
  margin: auto;
}

.cell {
  margin: 1px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-radius: 1px;
  background-color: greenyellow;
  width: 48px;
  height: 49px;
  cursor: url('./assets/cursor.png'), auto;
}

.hidden {
  text-indent: -9999px;
}

.flag {
  text-indent: -9999px;
  background-image: url(./assets/flag.png);
  background-size: cover;
}

.clicked {
  background: rgb(211, 159, 92);
}

.boom {
  background: rgb(255, 63, 63);
}

.neighbor-1 {
  color: blue;
}

.neighbor-2 {
  color: green;
}

.neighbor-3 {
  color: red;
}

.neighbor-4 {
  color: navy;
}

.neighbor-5 {
  color: brown;
}

.neighbor-6 {
  color: teal;
}

.neighbor-7 {
  color: purple;
}

.neighbor-8 {
  color: black;
}