.minesweeper {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(245, 245, 245);
  color: #222222;
}

.wrapper {
  min-width: 500px;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.checkbox-containe {
  display: flex;
  justify-content: end;
}

.container-button {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.container-clicks {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.reset {
  margin: 2px;
  padding: 2px;
  width: 98px;
  background-color: #ff7070;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.diff {
  margin: 2px;
  padding: 2px;
  border-radius: 1px;
  text-align: center;
  width: 98px;
  cursor: pointer;
}

.easy {
  background-color: #F24D98;
}

.medium {
  background-color: #F2F44D;
}

.hard {
  background-color: #813B7C;
}

.container {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  min-height: 500px;
  margin: auto;
}

.cell {
  margin: 1px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-radius: 1px;
  background-color: #59D044;
  width: 48px;
  height: 49px;
  cursor: url('./assets/cursor.png'), auto;
}

.hidden {
  text-indent: -9999px;
}

.flag {
  text-indent: -9999px;
  background-image: url(./assets/flag.png) !important;
  background-size: cover !important;
}

.clicked {
  background: #F3A002;
}

.boom {
  background: rgb(51, 51, 51);
}

.neighbor-1 {
  color: blue;
}

.neighbor-2 {
  color: green;
}

.neighbor-3 {
  color: red;
}

.neighbor-4 {
  color: navy;
}

.neighbor-5 {
  color: brown;
}

.neighbor-6 {
  color: teal;
}

.neighbor-7 {
  color: purple;
}

.neighbor-8 {
  color: black;
}

.dark-theme {
  background: #6E6352;
  color: #ffffff;
}

.score {
  text-align: center;
}

.row-score {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}